# Yundera User Data Environment Variables
# This file contains user-specific configuration data
# Less sensitive than .pcs.secret.env but still should be protected

# User unique identifier
UID=

# User email address
EMAIL=

# User's domain name
DOMAIN=